# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

.vscode/

builddir/
subprojects/.wraplock
subprojects/argparse-3.2/
subprojects/asio-1.38.2/
subprojects/fmt-12.0.0/
subprojects/node_crunch2/
subprojects/openssl-3.0.10/
subprojects/packagecache/
subprojects/snitch-1.3.2/
subprojects/spdlog-1.17.0/
subprojects/taocpp-json/
